In [2]:
import pandas as pd

In [3]:
dataf = pd.read_csv("weather_data.csv")
dataf

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
dataf = pd.read_excel("weather_data.xlsx", "Sheet1")
dataf

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [5]:
weather_data = {
    "day": ["1/12017", "1/2/2017", "1/3/2017", "1/4/2107", "1/5/2017", "1/6/2017"],
    "temperature": [32, 35, 28, 24, 32, 31],
    "windspeed": [6, 7, 2, 7, 4, 2],
    "event": ["Rain", "Sunny", "Snow", "Snow", "Rain", "Sunny"]
}

dataf = pd.DataFrame(weather_data)
dataf

        day  temperature  windspeed  event
0   1/12017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2107           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
weather_data_tuple = [
    ("1/1/2017", 32, 6, "Rain"),
    ("1/2/2017", 35, 7, "Sunny"),
    ("1/3/2017", 8, 2, "Snow")

]

df = pd.DataFrame(weather_data_tuple, columns=["day", "temperature", "windspeed", "event"])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017            8          2   Snow

In [8]:
weather_data_dict = [
    {"day": "1/1/2017", "temperature": 32, "windspeed": 6, "event": "Rain"},
    {"day": "1/2/2017", "temperature": 35, "windspeed": 7, "event": "Sunny"},
    {"day": "1/3/2017", "temperature": 8, "windspeed": 2, "event": "Snow"}
]

df = pd.DataFrame(weather_data_dict)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow            8          2