In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
# Another way of reading
df = pd.DataFrame({
    'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
    'temperature': [32, 35, 28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
})

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [5]:
# One more way of reading data
df = pd.DataFrame([
    ("1/1/2017", 32, 6, "Rain"),
    ("1/2/2017", 35, 7, "Sunny"),
    ("1/3/2017", 28, 2, "Snow")
], columns=["day", "temperature", "windspeed", "event"])

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [6]:
# And yet another way of reading data
data = [
    {"day": "1/1/2017", "temperature": 32, "windspeed": 6, "event": "Rain"},
    {"day": "1/2/2017", "temperature": 35, "windspeed": 7, "event": "Sunny"},
    {"day": "1/3/2017", "temperature": 28, "windspeed": 2, "event": "Snow"},
]

df = pd.DataFrame(data)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2