In [228]:
import pandas as pd

df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [229]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [230]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [231]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [232]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [233]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [234]:
df[2:5][["event", "day"]]

  event       day
2  Snow  1/3/2017
3  Snow  1/4/2017
4  Rain  1/5/2017

In [235]:
print(type(df['event']))
print(type(df))
print(type(df.columns))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.indexes.base.Index'>

In [236]:
print(df["temperature"].max())
print(df["temperature"].min())
print("Mean:", df["temperature"].mean())
print("Standard Deviation:", df["temperature"].std())

35
24
Mean: 30.333333333333332
Standard Deviation: 3.8297084310253524

In [237]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [238]:
weather_data_describe = df.describe()
weather_data_describe[["windspeed"]]

       windspeed
count   6.000000
mean    4.666667
std     2.338090
min     2.000000
25%     2.500000
50%     5.000000
75%     6.750000
max     7.000000

In [239]:
df[df.temperature>=32][["day", "event"]]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
4  1/5/2017   Rain

In [240]:
df[df.temperature==df.temperature.max()][["day", "temperature", "event"]]

        day  temperature  event
1  1/2/2017           35  Sunny

In [241]:
len(df)

6

In [242]:
df.reset_index(inplace=True)
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny

In [243]:
df.set_index("day", inplace=True)
df

          index  temperature  windspeed  event
day
1/1/2017      0           32          6   Rain
1/2/2017      1           35          7  Sunny
1/3/2017      2           28          2   Snow
1/4/2017      3           24          7   Snow
1/5/2017      4           32          4   Rain
1/6/2017      5           31          2  Sunny

In [244]:
df.loc[["1/4/2017"]]

          index  temperature  windspeed event
day
1/4/2017      3           24          7  Snow

In [245]:
df.reset_index(inplace=True)
df

        day  index  temperature  windspeed  event
0  1/1/2017      0           32          6   Rain
1  1/2/2017      1           35          7  Sunny
2  1/3/2017      2           28          2   Snow
3  1/4/2017      3           24          7   Snow
4  1/5/2017      4           32          4   Rain
5  1/6/2017      5           31          2  Sunny

In [246]:
del df["index"]
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [252]:
df[df["event"]=="Snow"]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow