In [6]:
import pandas as pd

In [9]:
dataf = pd.read_csv("weather_data.csv")
dataf

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
weather_data = {
    "day": ["1/12017", "1/2/2017", "1/3/2017", "1/4/2107", "1/5/2017", "1/6/2017"],
    "temperature": [32, 35, 28, 24, 32, 31],
    "windspeed": [6, 7, 2, 7, 4, 2],
    "event": ["Rain", "Sunny", "Snow", "Snow", "Rain", "Sunny"]
}

dataf = pd.DataFrame(weather_data)
dataf

        day  temperature  windspeed  event
0   1/12017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2107           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [14]:
range_of_temp = "{}-{}".format(dataf["temperature"].max(), dataf["temperature"].min())
print(range_of_temp)

35-24

In [19]:
print(dataf.shape)
rows, cols = dataf.shape
print(rows, cols)

(6, 4)
6 4

In [20]:
# Returns initial first rows
df.head()

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2

In [ ]:
df.tao